body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Jura', 'Zen Maru Gothic', sans-serif;
}

.container {
    position: relative;
    width: 480px;
    height: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: black;
    filter: blur(10px) brightness(60%);
    z-index: 1;
    animation: rotate 50s linear infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(2);
    }

    to {
        transform: rotate(360deg) scale(2);
    }
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 3px 2px black;
    justify-content: center;
    margin: 0 0 0 25px;
    text-align: center;
}

#album-art {
    max-width: 250px;
    max-height: 250px;
    margin-right: 10px;
}

.info {
    text-align: left;
}

#title {
    font-size: 2em;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artist {
    font-size: 1.5em;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#album {
    font-size: 1.5em;
    margin-top: 15px;
    color: #c1c1c1;
    text-shadow: 1px 1px 1px black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}